#!/usr/bin/env bash

if ! incus image info {{ data.packer_output_image }} &>/dev/null; then
    packer init .
    packer build ubuntu.pkr.hcl
fi

terraform init
terraform plan -out=tfplan
terraform apply tfplan
incus ls {{ data.container_name }}
{% block test_steps -%}
incus exec {{ data.container_name }} -- curl --version
{%- endblock %}
